@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4A98F7;   
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section{
  background: #fff;
  border-radius: 7px;
}
.tools-board{
  width: 300px;
  height: 650px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 10px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 5px;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
/* .option #fill-color{
  height: 14px;  
  width: 50px;
  cursor: pointer;
} */
#fill-color:checked ~label{
  color: #4A98F7;
}
/* .option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
} */
.colors .options{
  display: flex;
  justify-content: start;
  
}
.colors .option{
  height: 20px;
  width: 20px;
  margin-top: 3px;
  position: relative;
  padding-left: 5px;
}
/* .colors .option:nth-child(1){
  background: #fff;
  border: 1px solid #000;
}
.colors .option:nth-child(2){
  background: #000;
}
.colors .option:nth-child(3){
  background: red;
}
.colors .option:nth-child(4){
  background: blue;
}
.colors .option:nth-child(5){
  background: green;
} */
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  margin-top: 8px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}
/* .buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #4A98F7;
} */
.buttons .save-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.save-img:hover{
  background-color: #2a4dfa;
}
.drawing-board{
  flex: 1;
  /* width: 10000px; */
  position: relative;
}
/* .edit-board{
  width: 210px;
  padding: 15px 22px 0;
}
.edit-board .row{
  margin-bottom: 20px;
} */
.row .text{
  margin: 5px 0 0 5px;
  border-radius: 5px;
}
.drawing-board .__________cytoscape_container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.input-file {
  position: relative;
  display: inline-block;
  width: 100%;
}
.input-file label {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #4A98F7;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.input-file:hover label {
  background-color: #002aff;
}





